.taskCard--container
{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    text-align: center;
    height: 25%;
    width: 90%;
    margin-top : 2%;
}

.taskCard--form--box
{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.taskCard--form
{   
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.taskCard--form--inputs--container
{   
    border: 1px solid yellow;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    text-align: center;
    height:48%;
    width:100%;
}

.taskCard--form--inputs
{
    border:1px solid black;
    /* height:90%; */
    /* padding: 0.5%; */
    margin: 0.7%;
}
.taskCard--form--inputs>input, .taskCard--form--inputs > select {
    /* border: 1px solid black; */
    border: none;
    height: 100%;
    width:100%;
    /* padding: 10px; */
    padding-left: 10px;
}

.taskCard--taskID
{
    width: 15%;
}
.taskCard--taskName {
    width: 45%
}
.taskCard--employeeId
{
    width: 20%;
}
.taskCard--priority
{
    width: 10%;
}

.taskCard--form--inputs--datePicker--box
{
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 10px; */
    height:100%;
    /* width: 80%; */
}
.taskCard--form--inputs--datePicker
{   
    border:none;
    width: 85%;
}

.taskCard--addButton--box
{   
    /* border:2px solid green; */
    display: flex;
    justify-content: end;
    align-items:end;
    height:30%;
    width: 100%;
    padding-right: 1%;
}

.taskCard--addButton
{
    border: none;
    height: 80%;
    width: 20%;
    font-size: 1.1em;
    background-color: #4681f4;
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

